<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }}{% if page.title %} :: {{ page.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <!-- Facebook OpenGraph tags -->
    <meta property="og:title" content="Kareem Haggag" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:image" content="{{ "/images/haggag.png" | prepend: site.baseurl | prepend: site.url }}" />
{% if page.url == "/" %}
    <!-- Structured data: identifies the site subject as a person, not a generic page.
         Every sameAs URL is one an official page (NBER, UCLA Anderson) links to. -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Kareem Haggag",
      "url": "{{ site.url }}/",
      "image": "{{ site.url }}/images/haggag.png",
      "jobTitle": "Associate Professor",
      "affiliation": {
        "@type": "CollegeOrUniversity",
        "name": "UCLA Anderson School of Management",
        "url": "https://www.anderson.ucla.edu/"
      },
      "alumniOf": {
        "@type": "CollegeOrUniversity",
        "name": "University of Chicago Booth School of Business",
        "url": "https://www.chicagobooth.edu/"
      },
      "identifier": {
        "@type": "PropertyValue",
        "propertyID": "ORCID",
        "value": "https://orcid.org/0000-0003-3715-2529"
      },
      "sameAs": [
        "https://orcid.org/0000-0003-3715-2529",
        "https://scholar.google.com/citations?user=Wq7g2GwAAAAJ",
        "https://www.nber.org/people/kareem_haggag",
        "https://www.anderson.ucla.edu/faculty-and-research/behavioral-decision-making/faculty/haggag",
        "https://x.com/k_haggag"
      ]
    }
    </script>
{% endif %}
</head>
